.screen-container{
    width: calc(100% - 100px);
    height: 100%;
    background-color: #1E2A3E;
    border-radius: 30px;
    background-color: #acacbd;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #64989d 100px ), repeating-linear-gradient( #156e7255, #156e72 );

}


.flex{
    display: flex;
}